/*
    base.css - design tokens
*/

@import url('https://googleapis.com');

:root {
    /* LAYOUT */
    --page-max-width: 64rem;
    --page-gutter: 24px;

    --navbar-height: 60px;
    --footer-height: 100px;
    
    /* COLORS */
    --color-text: #fffaf2; /* Floral White */
    --color-accent: #ed1c24; /* Red */
    --color-accent-hover: #ea6166; /* Red */
    --color-bg-400: #707078;
    --color-bg-500: #40424f;
    --color-bg-600: #31333d; /* Jet */
    --color-bg-700: #242427; /* Raisin Black */
    --color-bg-800: #1d1d20;
    --color-bg-900: #161618;

    /* TYPOGRAPHY */
    --font-main: 'IBM Plex Mono', monospace;

    --font-size-md: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 2rem;
    --font-size-2xl: 4rem;

    --font-weight-normal: 400;
    --font-weight-bold: 600;

    /* SPACING */
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 32px;
    --space-xl: 64px;

    /* RADIUS */
    --radius-sm: 4px;
    --radius-med: 8px;
    --radius-lg: 16px;
    --radius-full: 9999px;

    /* RADIUS */
    --border-thin: 1px;
    --border-normal: 2px;
    --border-thick: 4px;

    /* Z-INDEX */
    --z-base: 0;
    --z-dropdown: 100;
    --z-navbar: 1000;
    --z-modal: 2000;

    

    /* old / must replace */
    --common-font-family: 'Inter'; 
    --common-border-radius: 5px;
    --common-padding: 10px;
    --common-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    --button-size: 35px;
    --mini-button-size: 20px;
    --icon-padding: 5px;
}