{% extends 'base.html' %}
{% set navbar_background = true %}

{% block title %}Cart{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}" />
{% endblock %}

{% block content %}
    <div class="page">
        <div class="page-header">
            <div class="page-header-content margined">
                <div class="title">
                    <h1>CART</h1>
                </div>
            </div>
        </div>

        <div class="page-content margined">
            {% if cart and cart.items %}
                <div class="cart-items">
                    {% for item in cart.items %}
                        <div class="cart-item">
                            <div class="product-image-container">
                                <img src="{{ item.product.image_url }}" />
                            </div>

                            <div class="product-info-container">
                                <div style="display: flex; justify-content: space-between;">
                                    <h2>{{ item.product.name }}</h2>
                                    <h2>${{ '%.2f'|format(item.unit_price()) }}</h2>
                                </div>

                                <div style="display: flex; justify-content: space-between;">
                                    <div class="item-quantity-widget">
                                        <form action="{{ url_for('cart.update_cart_quantity', item_id=item.id) }}" method="POST">
                                            <input type="hidden" name="action" value="decrement">
                                            <button type="submit">-</button>
                                        </form>

                                        <span>{{ item.quantity }}</span>

                                        <form action="{{ url_for('cart.update_cart_quantity', item_id=item.id) }}" method="POST">
                                            <input type="hidden" name="action" value="increment">
                                            <button type="submit">+</button>
                                        </form>
                                    </div>

                                    <form action="{{ url_for('cart.update_cart_quantity', item_id=item.id) }}" method="POST">
                                        <input type="hidden" name="action" value="remove">
                                        <button type="submit" style="background: none; border: none;">
                                            <img src="{{ url_for('static', filename='images/icons/cart-remove.svg') }}" style="height: 25px; aspect-ratio: 1;">
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <hr style="width: 100%;">
                    {% endfor %}
                </div>
                <div style="display: flex; justify-content: end;">
                    <div style="text-align: right;">
                        <h2>Subtotal: ${{ '%.2f'|format(cart.get_subtotal()) }}</h2>
                        <p>Shipping, taxes, and discount codes calculated at checkout.</p>
                        <form action="/create-checkout-session" method="POST">
                            <button type="submit">Check Out</button>
                        </form>
                    </div>
                </div>
            {% else %}
                <p>Your cart is empty!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
