<div class="footer">
    <div class="footer-inner page-container">
        <div class="footer-group">
            <a href="/account">ACCOUNT</a>

            <a href="/contact">CONTACT</a>

            <a href="/legal">LEGAL</a>
        </div>

        <div class="footer-group">
            <p>©2026 MULTIGAUGE</p>
        </div>

        <div class="footer-group">
            <a href="https://discord.gg/ZS9GjqUF">TIKTOK</a>
            <a href="https://discord.gg/ZS9GjqUF">DISCORD</a>
        </div>
    </div>
</div>
