{% extends 'base.html' %}
{% set navbar_background = true %}

{% block title %}Orders{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}" />
{% endblock %}

{% block content %}
    <div class="page">
        <div class="page-header">
            <div class="page-header-content margined">
                <div class="title">
                    <h1>ORDERS</h1>
                </div>
            </div>
        </div>

        <div class="page-content margined">
            {% for order in orders %}
                <a href="/admin/orders/{{ order.id }}">
                    <div class="order-summary">
                        <h2>Order #{{ order.id }}</h2>
                        <p>Status: {{ order.status }}</p>
                        <p>Total: ${{ '%.2f'|format(order.total_price()) }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
