{% extends 'base.html' %}
{% set navbar_background = true %}

{% block title %}{{ product.name }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
{% endblock %}

{% block content %}
    <div class="page-content margined">
        <h1>{{ product.name }}</h1>
        <h3>{{ product.description }}</h3>

        <form action="/create-checkout-session" method="POST">
            <button type="submit">Test Checkout button</button>
        </form>
    </div>
{% endblock %}
